			<!-- Header Inner -->
			<div class="header-inner d-flex flex-column flex-lg-row align-items-center justify-content-between">
				<div class="col-lg-2 col-12">
					<div class="logo text-center text-lg-left">
						<a href="index.html"><h6>Call for participants</h6></a>
					</div>
					<!-- Mobile Nav -->
					<div class="mobile-nav "></div>
					<!-- End Mobile Nav -->
				</div>
				<div class="container">
					<div class="inner">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-12">
								<!-- Main Menu -->
								<div class="main-menu ">
									<nav class="navigation nav-pills nav-fill">
										<ul class="nav menu">
											<li class="nav-item nav-link">
												<div class="button">
												<a href="#" class="btn">Start a call</a>
												</div>
											</li>
											<li class="nav-item nav-link"><a href="#">All studies </a></li>
											<li class="nav-item nav-link"><a href="#">My calls/Studies </a></li>
											<li class="nav-item nav-link"><a href="#">All studies </a></li>
											<li class="nav-item nav-link"><a href="#">How it works </a></li>
											<li><a href="#"></a></li>
											<li class="nav-item nav-link"><a href="#">Pricing </a></li>
											<li class="nav-item nav-link"><a href="#">Support ? </a></li>
											<li class="nav-item nav-link"><a href="contact.html">Us</a></li>
										</ul>
									</nav>
									<div class="mobile-nav "></div>

								</div>
								<!--/ End Main Menu -->
							</div>

						</div>
					</div>
				</div>

			</div>
			<!--/ End Header Inner -->